* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.carousel {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  background-color: rgb(185, 185, 185);
  box-shadow: 1px 2px rgb(160, 160, 160);
  padding: 20px;
}

.carousel h2 {
  color: rgb(19, 179, 179);
}

.carousel .carousel-slide {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-slide .carousel-item {
  margin: 10px;
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 1px 1px 1px 1px gray;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carousel-slide .carousel-item:hover {
  box-shadow: 1px 1px 1px 1px rgb(4, 255, 255);
  opacity: 0.8;
}
.carousel-slide .carousel-item:hover p {
  color: rgb(4, 255, 255);
  opacity: 1;
}

.carousel .carousel-slide,
.carousel-slide .carousel-hidden {
  display: none;
}

.carousel-slide .carousel-item img {
  height: 180px;
  width: 180px;
  margin: 0px;
  object-fit: cover;
}

.carousel-slide p {
  position: absolute;
  top: 80%;
  opacity: 0.8;
  color: white;
}

.carousel .carousel-visible {
  display: flex;
}

.carousel .carousel-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  width: 60%;
  transform: translateY(-60%);
}

.carousel .carousel-actions button {
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: teal;
  color: white;
}

.carousel .carousel-actions button:hover {
  background-color: rgb(2, 224, 224);
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}
.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
}
