.carousel {
  position: relative;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  background-color: rgb(185, 185, 185);
  box-shadow: 1px 2px rgb(160, 160, 160);
  padding: 20px 20px 50px 20px;
}

.carousel h2 {
  color: rgb(19, 179, 179);
}

.carousel .carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-slide a {
  text-decoration: none;
  color: teal;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.carousel-slide .carousel-item {
  height: auto;
  width: auto;
  display: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.carousel-slide .carousel-item:hover img {
  border: 1px solid rgb(4, 255, 255);
  transition: all 1s ease-in-out;
  opacity: 0.8;
  transform: scale(1.1);
}

.carousel-slide .carousel-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: teal;
  width: 200px;
  text-align: center;
}
.carousel-slide .carousel-item:hover p {
  color: rgb(4, 255, 255);
  opacity: 1;
}

.carousel-slide .carousel-item img {
  height: 250px;
  width: 250px;
  margin: 0px;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
}
.carousel-slide .carousel-item,
.carousel-item .carousel-hidden {
  display: none;
}

.carousel-slide p {
  position: absolute;
  top: 80%;
  opacity: 0.8;
  color: white;
  transition: all 0.2s ease-in-out;
}

.carousel-slide .carousel-visible {
  display: flex;
}

.carousel .carousel-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  width: 80vw;
  transform: translateY(-60%);
}

.carousel .carousel-actions button {
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: teal;
  color: white;
  transition: all 0.2s ease-in-out;
}

.carousel .carousel-actions button:hover {
  background-color: rgb(2, 224, 224);
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}
.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
}
