.contact-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.formTitle {
  color: black;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 200px auto;
  padding: 20px;
  width: 50vw;
  height: 60vh;
  border: 2px solid gray;
  background-color: rgb(209, 209, 209);
}

.message {
  color: black;
}

.formValid {
  display: none;
  color: green;
  font-size: 16px;
}

.formError {
  display: none;
  color: red;
  font-size: 16px;
}

.formContainer {
  margin-top: 20px;
}

.formInput {
  color: teal;
  margin: 10px;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 40px;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

#subject {
  height: 30px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
}

#message {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
}

#submit {
  margin: 20px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: white;
  background-color: teal;
  border: 2px solid white;
  border-radius: 5px;
}
#submit:hover {
  background-color: white;
  color: black;
}

.successMessage {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

.backSuccess {
  font-size: 20px;
  color: #ff8600;
  cursor: pointer;
}

.backSuccess:hover {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  form {
    margin: 0px 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .formTitle {
    margin: 20px;
    font-size: 24px;
  }
}
