.content-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/*Style main content top*/

.big-subject-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.705);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-subject-container .big-title {
  color: white;
  font-size: 2rem;
  margin: 100px 0px 20px 0px;
  text-shadow: black 0px 0px 3px;
}

.big-subject-container p {
  width: 80%;
  height: fit-content;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-bottom: 100px;
  text-shadow: black 0px 0px 3px;
}

.big-subject-container a:hover {
  background-color: rgb(65, 150, 219);
}

/*topic title*/

.content-container .subject-title {
  color: #1d2934;
  font-size: 1.5rem;
  margin: 100px 0px 50px 0px;
}
/*main small card */
.content-container .small-subject-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.small-subject-container a {
  text-decoration: none;
  color: inherit;
}
.small-subject-container span {
  font-size: 1rem;
}
.small-subject-container .card {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 100px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
}

.image-content {
  width: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px 0px 0px 5px;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 4s;
}
.small-subject-container .card:hover .background-image {
  transform: scale(1.2);
  border-radius: 5px 0px 0px 5px;
}
.publication-details {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(115, 151, 185, 0.466),
    rgba(110, 164, 195, 0.52)
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.8s;
}
.card:hover .publication-details {
  transform: translateX(0);
}
.author {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: all 0.5s 0.3s;
}
.author:hover {
  color: white;
  opacity: 0.5;
}
.date {
  display: block;
}
.card:hover .author,
.card:hover .date {
  transform: translateY(0);
  opacity: 1;
}

.post-content {
  background-color: white;
  padding: 20px 30px;
  position: relative;
  border-radius: 5px;
  width: 50%;
  flex-basis: 80%;
}

.card .post-content::before {
  content: "";
  width: 35px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 10;
  transform: skewX(-2deg);
}

.card-title {
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #1d2934;
}

.card-subtitle {
  font-size: 1.1rem;
  color: rgb(58, 58, 58);
  margin-bottom: 20px;
}

.card-description {
  font-size: 1rem;
  color: rgb(44, 44, 44);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.card-action {
  text-align: right;
}
.card-action a {
  color: #ecad24;
  position: relative;
}

.card-action a:hover {
  color: #18b6fb;
}

.card-action a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ecad24;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

.card-action a:hover::before {
  transform: scaleX(1);
  background-color: #18b6fb;
}

@media screen and (max-width: 1200px) {
  .big-subject-container .big-title {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .big-subject-container p {
    font-size: 1rem;
    margin-bottom: 80px;
  }
  .content-container .subject-title {
    font-size: 1rem;
    margin: 80px 0px 50px 0px;
  }
  .content-container .small-subject-container {
    margin-bottom: 30px;
  }
  .publication-details {
    padding: 10px;
  }
  .author {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .small-subject-container span {
    font-size: 0.8rem;
  }
  .small-subject-container .card {
    margin-bottom: 50px;
  }
  .post-content {
    padding: 10px 20px;
  }
  .card .post-content::before {
    width: 25px;
  }
  .card-title {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .card-subtitle {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .card-description {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .card-action a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .small-subject-container .card {
    flex-direction: column;
  }
  .image-content {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
  }
  .publication-details {
    padding: 10px;
  }
  .author {
    font-size: 0.8rem;
  }
  .small-subject-container span {
    font-size: 0.8rem;
  }

  .post-content {
    padding: 10px;
    width: 100%;
  }
  .card .post-content::before {
    z-index: -10;
  }
  .card-action a::before {
    margin-bottom: 5px;
    height: 2px;
  }
}
@media screen and (max-width: 600px) {
  .big-subject-container .big-title {
    width: 90%;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 5px;
  }
  .big-subject-container p {
    font-size: 0.8rem;
    margin-bottom: 50px;
    width: 90%;
  }
  .content-container .subject-title {
    font-size: 1rem;
    margin: 50px 0px 50px 0px;
  }
  .content-container .small-subject-container {
    margin-bottom: 0px;
    width: 90%;
  }
  .small-subject-container .card {
    flex-direction: column;
  }
  .image-content {
    width: 100%;
    height: 20vh;
    border-radius: 5px 5px 0px 0px;
  }
  .background-image {
    width: 100%;
    height: auto;
    top: -50%;
  }
  .publication-details {
    padding: 0px 10px;
  }
  .small-subject-container span {
    font-size: 0.6rem;
  }
  .author {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .small-subject-container .card {
    margin-bottom: 50px;
  }
  .post-content {
    padding: 5px 10px;
    /* flex-basis: 50%; */
  }
  .card-title {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
  .card-subtitle {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  .card-description {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .card-action a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .background-image {
    width: 100%;
    height: auto;
    top: -15%;
  }
}
