* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 80%;
  margin: auto;
}

.nav-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  flex: 1;
}

.section-1 {
  justify-content: center;
}

.section-2 {
  flex: 2;
  justify-content: center;
}

.section-3 {
  flex-direction: row-reverse;
}

.nav-logo {
  width: 100px;
  margin: 10px;
}

.nav-link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link-container a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-link-container a:hover {
  text-decoration: underline;
  color: rgb(107, 105, 105);
}

.social-media-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-container a:hover img {
  filter: invert(50%);
}

.social-media-container img {
  width: 30px;
  height: 30px;
}
.nav-mobile {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: none;
  flex-direction: column;
}
.nav-mobile a {
  color: black;
  text-decoration: none;
}
.active {
  color: black;
  margin: 20px;
  padding-left: 10px;
  font-size: 1rem;
}
.nav-mobile #menu-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2%;
  padding: 20px 20px 0px 0px;
}

.line {
  width: 25px;
  height: 3px;
  margin: 2px;
  background-color: black;
}

#mobile-link {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0%;
  right: 0;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#mobile-link a {
  color: #333;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.8rem;
}

#mobile-link img {
  width: 150px;
  height: auto;
}

#mobile-link span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0px 0px;
  font-size: 2rem;
  cursor: pointer;
}

#mobile-link a:hover {
  text-decoration: underline;
}

#mobile-link.show {
  transform: translate3d(0vw, 0, 0);
}

@media screen and (max-width: 1200px) {
  .nav-link-container a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-container {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .active {
    margin: 10px;
    padding-left: 10px;
    font-size: 0.8rem;
  }
  .nav-mobile #menu-button {
    top: 10%;
    padding: 10px 10px 0px 0px;
  }
  .line {
    width: 20px;
    height: 2px;
    margin: 1px;
    background-color: black;
  }
}
@media screen and (max-width: 400px) {
  #mobile-link span {
    font-size: 1rem;
  }
}
