* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 80vw;
  margin: auto;
}

.nav-section {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  flex: 1;
}

.section-1 {
  justify-content: center;
}

.section-2 {
  flex: 2;
  justify-content: center;
}

.section-3 {
  flex-direction: row-reverse;
}

.nav-logo {
  width: 6vw;
  margin: 10px;
}

.nav-link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link-container a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.3rem;
}

.nav-link-container a:hover {
  color: rgb(58, 58, 58);
}

.social-media-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-container img {
  width: 30px;
  height: 30px;
}

.nav-mobile-menu {
  display: none;
  position: absolute;
  float: left;
  right: 10%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
}

.nav-mobile-menu .menu-button {
  font-size: 0.8rem;
  border: none;
  outline: none;
  color: rgb(75, 75, 75);
  background-color: inherit;
}

.nav-mobile-menu:hover .menu-button {
  color: rgb(0, 0, 0);
}

.dropdown-content {
  display: none;
  float: right;
  position: absolute;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  height: 26vh;
  width: 15vw;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
  z-index: 1;
  margin-top: 5px;
}

.dropdown-content a {
  display: flex;
  margin: 30px 10px;
  flex-direction: column;
  color: rgb(82, 82, 82);
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.dropdown-content a:hover {
  color: rgb(0, 0, 0);
}

.nav-mobile-menu:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .nav-link-container a {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  .nav-logo {
    width: 8vw;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: inherit;
  }
  .section-1 {
    align-items: center;
  }
  .nav-logo {
    width: 15vw;
  }
  .section-2 {
    display: none;
  }
  .section-3 {
    display: none;
  }
  .nav-mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo {
    width: 18vw;
  }
  .dropdown-content a {
    font-size: 0.6rem;
  }
  .nav-mobile-menu .menu-button {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 400px) {
  .nav-logo {
    width: 25vw;
  }
  .dropdown-content {
    width: 20vw;
  }
}
